<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/stars.css">
    <title>Pixit</title>

    <link rel="icon" type="image/png"
        href="https://media.discordapp.net/attachments/949949989151440926/969470744457248768/kurizucat-removebg-preview.png?width=374&height=382"
        sizes="16x16">
    <link rel="icon" type="image/png"
        href="https://media.discordapp.net/attachments/949949989151440926/969470744457248768/kurizucat-removebg-preview.png?width=374&height=382"
        sizes="32x32">
    <link rel="icon" type="image/png"
        href="https://media.discordapp.net/attachments/949949989151440926/969470744457248768/kurizucat-removebg-preview.png?width=374&height=382"
        sizes="96x96">
    <link rel="apple-touch-icon" sizes="72x72"
        href="https://media.discordapp.net/attachments/949949989151440926/969470744457248768/kurizucat-removebg-preview.png?width=374&height=382">
    <link rel="apple-touch-icon" sizes="114x114"
        href="https://media.discordapp.net/attachments/949949989151440926/969470744457248768/kurizucat-removebg-preview.png?width=374&height=382">
    <link rel="apple-touch-icon" sizes="152x152"
        href="https://media.discordapp.net/attachments/949949989151440926/969470744457248768/kurizucat-removebg-preview.png?width=374&height=382">
</head>


<body>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div id='thestuff'>
        <div class="navbar">
            <button class="reset btn">Reset</button>
            <input type="color" value="#00eeff" class="color">
            <input type="number" value="30" class="size">
            <!-- <button class="save btn btn-success">Save</button> -->
        </div>
        <div id="capture" class="container">
        </div>
        <script src="/static/js/main.js"></script>
    </div>
</body>

</html>